body {
  margin: 0;
  background-image: linear-gradient(to bottom right, #113f67, #4592af, #eae9e9);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  color: #696464;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  color: #696464;
  font-family: 'Open Sans', sans-serif;
}

label {
  color: #696464;
  font-family: 'Open Sans', sans-serif;
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.g-recaptcha {
  display: none;
}

input[type=submit] {
  width: 60%;
  background-color: #b7e778;
  color: #696464;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #91bd3a;
  transition: 0.3s;
}

input[type=reset] {
  width: 60%;
  background-color: #b2dffb;
  color: #696464;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

input[type=reset]:hover {
  background-color: #46b3e6;
  transition: 0.3s;
}

.doted-hr {
  border: 0;
  border-bottom: 5px dotted;
  color: rgb(236, 236, 236);
  text-align: center;
  margin: 0 47%;
  margin-top: -50px;
  margin-bottom: 50px;
}

.my-name {
  color: rgb(236, 236, 236);
  font-family: 'Calligraffitti', cursive;
  font-size: 4.5em;
  text-align: center;
  margin-top: 100px;
}

.profation {
  color: rgb(236, 236, 236);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.all-links {
  text-align: center;
  margin-bottom: 50px;
}

.all-links a {
  color: rgba(236, 236, 236, 0.7);
  font-size: 30px;
  margin: 0 25px;
  text-decoration: none;
  transition: 0.3s;
}

.all-links a:hover {
  color: rgb(236, 236, 236);
  text-decoration: none;
  transition: 0.3s;
}

.home-body {
  margin: 1% 27%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5%;
}

.title {
  color: #696464;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
  text-align: center;
  margin-bottom: 75px;
}

.parograth {
  color: #696464;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: -25px;
  width: 80%;
  margin: auto;
}

.between-divs-hr {
  border: 0;
  border-bottom: 2px solid;
  color: rgb(236, 236, 236);
  width: 100%;
  margin: 60px auto;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.form-massage {
  text-align: center;
}

.table-of-logos {
  align-items: center;
  text-align: center;
  margin: auto;
  width: 60%;
}

.logo-list {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  margin: auto 100px;
  width: 60%;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 15px;
}
